################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleApplication1/.vs/ConsoleApplication1/v16
/ConsoleApplication1/Debug/ConsoleA.f0308757.tlog
/ConsoleApplication1/Debug
/ConsoleApplication1/ConsoleApplication1.vcxproj.user
/ConsoleApplication1/ConsoleApplication1.vcxproj.filters
/ConsoleApplication1/ConsoleApplication1.vcxproj
